# IDE
.idea/
*.iml

# Hvigor
.hvigor/
node_modules/
*.lock
package-lock.json

# Build
build/
entry/build/
oh_modules/

# Local
local.properties
hvigorfile.ts.bak

# OS
.DS_Store

# 测试报告
coverage/

# 签名证书（敏感）
*.p12
*.p7b
*.cer
*.csr
*.keystore
*.jks
cert/

# DevEco Studio 生成的中间文件
material/

# 日志
*.log
